<web-app>
 <servlet>
 	 <servlet-name>pservlet</servlet-name>
 	 <servlet-class>PostServlet</servlet-class>
</servlet>
<servlet-mapping>
 	 <servlet-name>pservlet</servlet-name>
 	 <url-pattern>/ps</url-pattern>
</servlet-mapping>
<servlet>
	<servlet-name>readingFile</servlet-name>
	<servlet-class>ReadingFile</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>readingFile</servlet-name>
	<url-pattern>/rf</url-pattern>
</servlet-mapping>
</web-app>
